#SERVER

node_modules/
.env
package-lock.json
yarn.lock

#CLIENT

# dependencies
client/node_modules
client/.pnp
client/c.pnp.js
client/package-lock.json
client/yarn.lock
client/src/redux
# client/src/@fake-db
client/src/authServices



# testing
client/coverage

# production
client/build

# misc
client/.env
client/.DS_Store
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local

client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

client/.docz
client/.vscode
client/.prettierrc

client/react-shell-scripts


